<%- include("includes/head.ejs") %>
<body>
    <%- include("includes/logdnavbar.ejs") %>
    <div class="edit-comments-container">
        <div class="comments-edit">
            <div class="user-time">
                <h3 class="username">@<%= post.username %></h3> 
            </div>
            <form method="post" action="/techmeet/home/comments/<%= post.id %>?_method=PATCH">
                <textarea name="content" id="editContent" rows="10" cols="45"><%= post.content %></textarea>
                <div class="controls">
                    <a href="http://localhost:8080/techmeet/home/comments">Back</a>           
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <%- include("includes/footer.ejs") %>
</body>
</html>