<%- include("includes/head.ejs") %>
<body>
        <%- include("includes/logdnavbar.ejs") %>

        <%- include("includes/profileInformation.ejs") %>
    
     <!-- profile-container completed -->

     <%- include("includes/posts.ejs") %>
    <!-- posts container-completed -->

    <%- include("includes/footer.ejs") %>
    <!-- navbar completed -->
</body>
</html>