<%- include("includes/head.ejs") %>
<body>
    <%- include("includes/logdnavbar.ejs") %>

    <div class="show-comment-container">
        <div class="comments">
            <div class="user-time">
                <h3 class="username">@<%= post.username %></h3> 
                <button>Delete</button>
            </div>
            <p class="content"><%= post.content %></p>
            <div class="controls">
                <a href="http://localhost:8080/techmeet/home/comments">Back</a>
                <span><%= post.time %></span>
            </div>
        </div>
    </div>
    <%- include("includes/footer.ejs") %>
</body>
</html>